*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-image: url("images/patt.png");
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.row:after,.menu:after{
	content: "";
	clear: both;
	display: block;
}
[class*="col-"]{
	float: left;
}
.col-md-3{
	width: 25%;
}
.col-md-6{
	width: 50%;
}
.header{
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
}
.menu li{
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child{
	border-right: 1px solid #2c71b8;
}
.menu a{
	display: block;
	height: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: #2c71b8;
	font-size: 21px;
	font-weight: 300;
}
.menu a:hover{
	background-color: #2c71b8;
	color: white;
}

.prod li {
	width: 290px;
	border: 0;
	background-color: #2c71b8;

}
.prod li:last-child{
	border-right: none;
}
.prod li a {
	text-align: left;
	color: white;
	padding-left: 25px;
}
.prod li a:hover {
	background-color: white;
	color: #2c71b8;
}
.prod ul {
	display: none;
	border: 0;
	position: relative;
	z-index: 2;
}
.prod:hover ul {
	display: block;
	z-index: 2;
}
