*{
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-image: url("images/patt.png");
}
.container{
	width: 11900px;
	margin: 0 auto;
}
.row:after,.menu:after, .main:after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-"]{
	float: left;
}
.header{
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;

}
.menu li{
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child{
	border-right: 1px solid #2c71b8;
}
.menu a{
	display: block;
	height: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: #2c71b8;
	font-size: 21px;
	font-weight: 300;
}
.menu a:hover{
	background-color: #2c71b8;
	color: white;
	text-decoration: none;
}

.prod li {
	width: 290px;
	border: 0;
	background-color: #2c71b8;
}
.prod li:last-child{
	border-right: none;
}
.prod li a {
	text-align: left;	
	color: white;
	padding-left: 25px;
}
.prod li a:hover {
	background-color: white;
	color: #2c71b8;
	text-decoration: none;
}
.prod ul {
	display: none;
	border: 0;
	position: absolute;
	z-index: 1;
	margin: 0;
}
.prod:hover ul {
	display: block;
}
.col-md-2 {
	margin-left: 0;
	border: 1px solid #2c71b8;
	margin-top: 5px;
}
.col-md-2 input {
	background: none;
	width: 150px;
	border: none;
	color: #2c71b8;
	font-size: 21px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	padding-left: 0;
	height: 40px;
}
.inputing {
	float: left;
	width: 80%;
}
.bg {
	background-image: url(images/icon4.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #2c71b8;
	width: 30px;
	height: 30px;
	float: right;
	margin-top: 5px;
}
.corzina {
	margin-top: 5px;
	background-image: url(images/icon1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	margin-left: 0;
	padding-left: 0;
	width: 40px;
	height: 40px;
}

.col-md-9 a {
	color: white;
	text-decoration: none;
}
.col-md-9 li {
	float: left;
}
.col-md-9 li:last-child {
border-bottom: 1px solid white;
}
.col-md-9 ul:after {
	clear: both;
	content: "";
	display: block;
}
.col-md-6 {
	color: white;
	font-size: 30px;
}
.bgPC {
	background-image: url(images/icon17.PNG);
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	height: 180px;
	width: 100%;
}

.bgappletv {
	background-image: url(images/icon9.PNG);
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	height: 180px;
	width: 100%;
}
.bgapplewatch {
	background-image: url(images/icon13.PNG);
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	height: 180px;
	width: 100%;
}
.goods {
	color: white;
	border: 1px solid white;
}

[name*="details"]{
	width: 210px;
	height: 50px;
	background-color: #2c71b8;
	border: 1px solid white;
	margin-bottom: 13px;
}
[name*="addtocart"]{
	width: 210px;
	height: 50px;
	background-color: #2c71b8;
	border: 1px solid white;
	margin-bottom: 30px;
	background-image: url(images/icon2.PNG);
	background-repeat: no-repeat;
	background-position: right;
	background-image height: 20px;
	background-image margin-right: 20px;
}